@model Bankomat.Models.Atm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Välkommen!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bills100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bills100)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bills500)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bills500)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receipts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receipts)
        </dd>

    </dl>
</div>
