@model IEnumerable<Bankomat.Models.Atm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bills100)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills500)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receipts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bills100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bills500)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receipts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AtmID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AtmID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AtmID })
        </td>
    </tr>
}

</table>
