<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="wrapper">

        <div class="bankomatPicture">
            @*<img src="pictures/bankomat.png" alt="bankomat.png" width="900">*@
        </div>
        
        <div class="hardwareWrapper">
            <div class="softButtonWrapper">
                @Html.ActionLink(" ", "leftOne", null, new { @class = "softButtonLeft" })
                @Html.ActionLink(" ", "2left", null, new { @class = "softButtonLeft" })
                @Html.ActionLink(" ", "3left", null, new { @class = "softButtonLeft" })
                @Html.ActionLink(" ", "4left", null, new { @class = "softButtonLeft" })

                @using (Html.BeginForm("", "~/Controllers/HomeController", FormMethod.Get))
                {
                    <input type="submit" value="Click me" />
                }
            </div>
            <div class="atmScreen">
                <div class="infoBox">
                    @RenderBody()


                </div>


            </div>

            <div class="softRightButtonWrapper">

                @Html.ActionLink(" ", "1right", null, new { @class = "softButton" })
                @Html.ActionLink(" ", "2right", null, new { @class = "softButton" })
                @Html.ActionLink(" ", "3right", null, new { @class = "softButton" })
                @Html.ActionLink(" ", "4right", null, new { @class = "softButton" })
                @Html.ActionLink("Controller", "Action", new { email = "test", parameters = "parameters" })

            </div>

        </div>

        <div class="buttonWrapper">
            <div class="numberButtons">

                @Html.ActionLink("1", "1", null, new { @class = "clickButton" })
                @Html.ActionLink("2", "2left", null, new { @class = "clickButton" })
                @Html.ActionLink("3", "3left", null, new { @class = "clickButton" })
                <br />
                @Html.ActionLink("4", "1", null, new { @class = "clickButton" })
                @Html.ActionLink("5", "2left", null, new { @class = "clickButton" })
                @Html.ActionLink("6", "3left", null, new { @class = "clickButton" })
                <br />
                @Html.ActionLink("7", "1", null, new { @class = "clickButton" })
                @Html.ActionLink("8", "2left", null, new { @class = "clickButton" })
                @Html.ActionLink("9", "3left", null, new { @class = "clickButton" })
                <br />
                @Html.ActionLink(" ", "1", null, new { @class = "clickButton" })
                @Html.ActionLink("0", "2left", null, new { @class = "clickButton" })
                @Html.ActionLink(" ", "3left", null, new { @class = "clickButton" })

            </div>
            <div class="doButtons">
                <br />
                <input id="Button1" class="clickDoButton" type="button" value="Avbryt" />
                <br />
                <input id="Button1" class="clickDoButton" type="button" value="Ångra" />
                <br />
                <input id="Button1" class="clickDoButton" type="button" value="Ok" />
            </div>
        </div>

        <div class="outputWrapper">


            <div class="recipeOutput">


            </div>

            <div class="cardInput">
                <div class="cardInputter">


                </div>

            </div>

        </div>

    </div>
    <div class="moneyOutput">
        <div class="moneyOutputter">

        </div>
    </div>





    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
